body {
  background-color: #003333;
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: #A7DFDF;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 68px;
  color: #A7DFDF;
}

td {
  height: 60px;
  width: 60px;
  border: 1px solid grey;
}

table {
  border-size: 1px;
  border-style: solid;
  border-color: black;
  background-color: #B2E0E0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#display #display2 {
  font-family: 'Audiowide', cursive;
  font-size: 50px;
  color: #A7DFDF;
}

.statusHead {
  height:28px;
  border: none;
}

.col1 {
  height: 25px;
  width: 150px;
  border: none;
}

.tinyLifeStatusCell {
  height: 30px;
  width: 35px;
  border: none;
}

.full {
  background-image: url("http://orig04.deviantart.net/943c/f/2012/165/c/5/pixel_heart_by_roxy80-d53j2pp.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.shipStatus {
  font-family: 'Audiowide', cursive;
  background-image: none;
  background-color: #000F0F;
  color: white;
  font-size: 14px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}

.tableContainer {
  text-align: center;
}

.miss {
  background-image:url("http://4.bp.blogspot.com/-_hPtN6OSUlI/UofVgda6szI/AAAAAAAAGSM/hx7TmrmEc98/s1600/1-01.jpg");
  background-size: 45px 45px;
  background-repeat: no-repeat;
  background-position: center;
}

.destroyed {
  background-image: url("https://t3.ftcdn.net/jpg/00/96/44/84/240_F_96448483_QKmUpr7MkzjzLpmrBh0eybKMJ3i8JQca.jpg");
  background-size: 60px 60px;
  background-position: center;
}

.showShip {
  background-image: url("http://images.freeimages.com/images/premium/previews/3674/36746882-cartoon-cruise-ship.jpg");
  background-size: 80px 60px;
  background-position: center;
}
.showSubmarine {
  background-image: url("http://www.drawingnow.com/file/videos/image/how-to-draw-a-submarine.jpg");
  background-size: 80px 60px;
  background-position: center;
}
.container {
  margin-left:auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.counter {
  margin: auto;
  margin-top: 170px;
  border: 1px solid white;
  width: 150px;
  height: 100px;
  background-color: #001313;
  padding: 3px;
}
